/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';

body {
	//background-color: #9ca7c6;
	font-family: "Gill Sans", sans-serif;	
	height:100vh;
	width:100vw;
	height: 100%;
	background-repeat: no-repeat;


	background: rgb(53,118,205); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(53,118,205,1) 0%, rgba(41,137,216,1) 50%, rgba(92,198,219,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(53,118,205,1) 0%,rgba(41,137,216,1) 50%,rgba(92,198,219,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(53,118,205,1) 0%,rgba(41,137,216,1) 50%,rgba(92,198,219,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3576cd', endColorstr='#5cc6db',GradientType=0 ); /* IE6-9 */


}

.login-paper {
	width: 600px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	margin-top: 30px;

	img {

		margin-left: 450px;

	}
	.login-left {
		float: left;
		border-right: 1px solid #9ca7c6;
		width: 49%;
		.login-input {
			height: 30px;
			width: 200px;
			margin-bottom: 20px;
			margin-left: 20px;
			font-size: 12px;
		}
		button {
			height: 25px;
			width: 80px;
			margin-left: 20px;
			font-size: 16px;
		}

	}
	.login-right {
		float: right;
		width: 49%;
		.register-link {
			font-size: 16px;
			float: right;
			margin-top: 50px;
			margin-right: 120px;
			color: #3576CD;
		}
	}
	p {
		clear: both;
		padding: 40px;
		font-size: 24px;
		text-align: center;
		line-height: 40px;
		.logo-mild {

		}
		.logo-wild {

		}

	}
}


.register-paper {
	width: 450px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	position: relative;
	h1 {
		margin-bottom: 20px;
		margin-left: 20px;
	}
	.register-input {
		height: 30px;
		width: 200px;
		margin-bottom: 20px;
		margin-left: 20px;
		font-size: 12px;
	}
	button {
		height: 25px;
		width: 80px;
		margin-left: 20px;
		font-size: 16px;
	}
	img {
		position: absolute;
		right: 40px;
		top: 150px;
	}

}

.dashboard {
	header {
		display: flex;
		justify-content: space-between;	
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #ffffff;

		img { 
			margin-left: 30px;
		}
		.nav {
			height: 30px;
		}
		span {
			font-weight: bold;
			font-size: 18px;
			margin-right: 30px;
			height: 30px;
			position: relative;
			#person-icon {
				position: absolute;
				right: 100px;
				top: 10px;
			}
			button {
				position: absolute;
				right: 8px;
				top: 10px;
				font-size: 14px;
				background-color: #327BD0;
				border-radius: 5px;


			}

		}
		a {
			text-decoration: none;
			color: #327BD0;
		}

	}
	aside {
		.aside-paper {
			width: 300px;
			margin-left: 30px;
			margin-top: 40px;
			margin-bottom: 20px;
			height: 750px;
			overflow: scroll;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


		    // height:400px;
		    // margin:auto;
		    // border:1px solid black;

		    // margin-top: 120px;
		    // padding-left: 20px;
			a {
			   	text-decoration: none;
			   	margin-left: 10px;
			   	color: black;

			}
			div.post {
				padding-left: 30px;
			   	&:hover {
			   		background-color: #E6E6E6;
			   	}		
			}
		}

	}
}

.main-wrapper {
	display: flex;
	justify-content: space-between;
	.main-content {

		.right-main-content {
		    height:750px;
		    width: 800px;
		    margin-right: 30px;
		    margin-top: 40px;

		   // margin:auto;
		    // border:1px solid black;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    padding-left: 20px;

		}
	}

}

.submission {
	position: relative;
	// h1 {
	// 	position: absolute;
	// 	top: 30px;
	// 	left: 10px;
	// }
	// .radio-button {
	// 	position: absolute;
	// 	top: 70px;
	// 	left: 10px;

	// }
	label.post-title {
		position: absolute;
		top: 100px;
		left: 60px;
		width: 300px;
	}

}
.tell-us {
	width: 750px;
	height: 300px;
	border: 1px solid black;

}


.add_a_comment {
	.elevate-title {
		margin-right: auto;
		margin-left: auto;
		margin-top: 30px;
	}


}












